<div class="card">
  <div class="card-header " (click)="bru=!bru">
    <img src="assets/img/clanlogos/brujah.png" class="float-left clan-list-style">
    <h3>Brujahs</h3>
    <p>Ralés</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!bru">
      <span class="npcs-nome">Lucius Wilber Smith</span> - O príncipe colecionou mais inimigos do que aliados na cidade.
      A forma como ele foi colocado no trono não desce na garganta de muita gente, ainda assim está no poder a bastante
      tempo. Apenas os mais próximos sabem exatamente a sua origem
    </li>
    <li class="list-group-item" [hidden]="!bru">
      <span class="npcs-nome">Ronald Johnson</span> - O ancião dos Brujah já viveu o suficiente para entender as nuances
      do poder, e para sobreviver é preciso mais do que velocidade e força. Sua posição parece cômoda, com seu clã no
      poder, mas não seria de se estranhar que ele e o príncipe não comungassem do mesmo credo.
    </li>
    <li class="list-group-item" [hidden]="!bru">
      <span class="npcs-nome">Lance O’Neil</span> - O antigo xerife é um dos mais conhecidos vampiros da cidade. E
      apenas a sua crueldade precede a sua fama. Não se sabe ao certo o porque dele não ter continuado no seu cargo, mas
      o que é dito a boca pequena que ele trama sua volta por cima. (Season 2)
    </li>
    <li class="list-group-item" [hidden]="!bru">
      <span class="npcs-nome">Alice Monteir</span> - Recente dona de um bar de rock, Alice tem se adaptado desde quando
      era mortal e trabalhava no bordel local. Sua transformação não melhorou muito a sua vida e ela teve de se adaptar
      novamente. Sabe-se que ela recebeu ajuda de um dos vampiros da cidade, não sabem dizer qual, mas é certo que é um
      dos figurões ricos da cidade, desconfiam de que seja de fora do clã. (Season 3)
    </li>
  </ul>
</div>

<div class="card div-sup">
  <div class="card-header" (click)="gan=!gan">
    <img src="assets/img/clanlogos/gangrel.png" class="float-left clan-list-style" />
    <h3>Gangrel</h3>
    <p>Forasteiros</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!gan">
      <span class="npcs-nome">Nicholai Itchenko</span> - O ex lenhador da sibéria russa tem a fama de ser osso duro de
      roer. Apesar de pouco se saber sobre a razão que o fez vir parar em Greenmond, suas habilidades abriram
      determinadas portas que podem, por um lado lhe dar acesso a recursos que de outra forma jamais teria acesso, de
      outro lado o colocam sob a mira de alguns membros poderosos e perigosos da cidade, incluindo Lucius, o Príncipe.
    </li>
    <li class="list-group-item" [hidden]="!gan">
      <span class="npcs-nome">Sheera</span> - Poucas vezes aparece em público, mas quando isso acontece certamente há
      consequências. A anciã Gangrel, season 2, assite ao desenrolar dos fatos na cidade tal qual um experiente jogador
      de xadrez. Suas aparições geralmente trazem ventos de mudança, e procurá-la sem que ela solicite sua presença
      é cutucar a onça com a vara curta. Ela e Nicholai tem uma relação complicada, como dois alfas que ocupam o mesmo
      território. Porém pode haver mais nisso, ou pode ser apenas o que eles querem que os demais pensem.
    </li>
  </ul>
</div>

<div class="card div-sup">
  <div class="card-header" (click)="mal=!mal">
    <img src="assets/img/clanlogos/malkavian.png" class="float-left clan-list-style" />
    <h3>Malkavian</h3>
    <p>Loucos</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!mal">
      <span class="npcs-nome">Margareth Carter</span> - Margareth, a mulher inteligente e centrada de uma família rica
      da cidade, nunca conseguiu dar ao seu marido o filho que eles tanto queriam. Após perder o 7o filho, ela não
      suportou e enlouqueceu, passou a andar pela casa com uma criança imaginária no colo. Ela amamentava, trocava
      fraldas, fazia tudo com esse bebê que só ela conseguia ver. Seu marido conseguiu o tão esperado filho com a irmã
      de Margareth, o que fez com que ela se entregasse ainda mais à insanidade. Ao se distanciar ainda mais do mundo
      real, as sombras a abraçaram e lhe deram os filhos que ela nunca pode ter.
    </li>
    <li class="list-group-item" [hidden]="!mal">
      <span class="npcs-nome">Ezequiel Montana, O Contador</span> - Ezequiel sempre foi pragmático e minimalista desde
      seus tempos de mortal. Seu TOC em contar tudo foi útil ao antigo príncipe da cidade. Após o desaparecimento/fuga
      do antigo príncipe, ele se afastou dos poderosos da cidade mas nunca pode deixar de lado o seu transtorno. Dizem
      que ele é um dos membros mais bem informados da cidade. Season 2 </li>
    <li class="list-group-item" [hidden]="!mal">
      <span class="npcs-nome">Muriel Schürer</span> - A ex dama de cabaré que sonhava ser atriz, era a mais bela menina
      do antigo Lady’s. Até que em uma noite um dos clientes, um bêbado e violento senhor de terras que havia perdido
      toda sua produção por causa da estiagem naquele ano, resolveu descontar toda sua frustração em Muriel. Ela apanhou
      muito e por fim ele a atacou com uma garrafa quebrada, fazendo um terrível corte em seu rosto. Ela foi levada ao
      médico que fez o melhor para que as marcas no seu rosto fossem suaves. Impossível. Ela então viu seus sonhos de se
      tornar uma atríz famosa desaparecer. Mesmo para trabalhar no Lady’s ela não conseguia clientes. Como? com essa
      marca no rosto? Apenas um estranho senhor magro e pálido que sempre fora muito atencioso e carinhoso com ela ainda
      lhe procurava. A cada visita do frio amigo suas lágrimas escorriam de seus tristes olhos. Já cansado de enxugar as
      ládrimas de seu amor, o senhor lhe ofereceu um alívio ao seu sofrimento, ela poderia vingar-se e viver entre
      aqueles que não virariam a cara para ela por causa de uma sicatriz. E ela aceitou a maldição como um presente,
      pode esconder a marca que lhe tirara a vontade de viver e ainda se vingar daquele que a fez sofrer… Season 3 </li>
    <li class="list-group-item" [hidden]="!mal">
      <span class="npcs-nome">Alice Monteir</span> - Recente dona de um bar de rock, Alice tem se adaptado desde quando
      era mortal e trabalhava no bordel local. Sua transformação não melhorou muito a sua vida e ela teve de se adaptar
      novamente. Sabe-se que ela recebeu ajuda de um dos vampiros da cidade, não sabem dizer qual, mas é certo que é um
      dos figurões ricos da cidade, desconfiam de que seja de fora do clã. (Season 3)
    </li>
  </ul>
</div>

<div class="card div-sup">
  <div class="card-header" (click)="nos=!nos">
    <img src="assets/img/clanlogos/nosferatu.png" class="float-left clan-list-style" />
    <h3>Nosferatu</h3>
    <p>Ratos de esgoto</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!nos">
      <span class="npcs-nome">Edward Lewis</span> - Ter sido escravo não foi o pior que aconteceu para o jovem Edward.
      Depois de anos de sofrimento como escravo, conseguiu fugir para o Pântano, onde se escondeu por dias. Mesmo os
      cães não conseguiram encontrá-lo, mas alguma outra coisa conseguiu. Ao perceber que se tornara um monstro, que
      nunca mais veria a luz do dia, o ex escravo tentou terminar com seu sofrimento se deixando banhar pelo sol. Para
      sua surpresa, e muita dor, ele não conseguiu e foi retirado de seu destino, ainda em chamas. Edward já perdeu as
      contas das vezes em que viu a face da morte. Sobrevivente é pouco para descrevê-lo. Ele parece ter alguém que zela
      por ele com muita atenção. Os antigos o chamam de evikelue, q significa “o protegido”.
    </li>
    <li class="list-group-item" [hidden]="!nos">
      <span class="npcs-nome">Mama</span> - A velha moradora do pântano tem sido origem de muitos mitos e crenças. Dizem
      que seu conhecimento da velha e original arte vudu é muito poderoso. Sua magia tem sido de ajuda àqueles que
      conseguem chegar até ela. Relatos de soldados sendo ajudados por uma velha bruxa do pântano deixaram confusos os
      historiadores, já que outros diziam que todo o seu pelotão havia sido atacado por uma bruxa horrível de olhos
      vermelhos e asas como o demônio.
    </li>
    <li class="list-group-item" [hidden]="!nos">
      <span class="npcs-nome">Rat</span> - Alguns Nosferatu deixaram o pântano e fizeram da cidade sua morada. É o caso
      do Rat, que divide sua existência entre o esgoto e o topo de edifícios, onde por vezes é confundido com uma
      estátua de gargula. Sempre atento ao que se passa ao seu redor, ele acredita que pode antecipar fatos importantes
      e com isso tomar ações adequadas para que a sua não-vida siga adiante. Season 3
    </li>
  </ul>
</div>

<div class="card div-sup">
  <div class="card-header" (click)="tor=!tor">
    <img src="assets/img/clanlogos/toreador.png" class="float-left clan-list-style" />
    <h3>Toreador</h3>
    <p>Degenerados</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!tor">
      <span class="npcs-nome">Manica Olufemi (olufemi significa ‘deus me ama’)</span> - Ex escrava, ela deixou sua vida
      sofrida para trás e se tornou um dos mais preminentes e respeitados membros da sociedade de vampiros de
      Greenmond.. A linda princesa de sua tribo (que se localizava onde hoje é o sul de Angola) é o exemplo de até onde
      presença, beleza e inteligência podem levar uma mulher. O senhor que a comprou era dono de grandes áreas onde se
      cultivava o precioso café. Ele não só era muito rico, como também tinha os seus dons da noite. Manica foi
      transformada por seu dono que a seduziu usando poderes, e caiu em sua sedução de mortal. Pouco tempo depois ele
      desapareceu, não se sabe se foi pelo crime de transformar uma negra, ou se foi sua própria cria, para vingar-se de
      anos de maus tratos ao seu povo. O fato é que ela se desfez das fazendas que lhe traziam tantas lembranças ruins e
      hoje é dona de quase todas as galerias de arte da cidade, bem como o Opera Hall. O mais antigo teatro da cidade.
      (Season 2)
    </li>
    <li class="list-group-item" [hidden]="!tor">
      <span class="npcs-nome">Brenda Parker</span> - Braço direito de Manica, ela é quem gerencia todos os negócios. Ela
      compra, vende e expõe. Ela encontra novos talentos e os transforma em grandes artistas. Estudada, talentosa e
      viajada ela parece ter o toque de Midas, tudo que toca vira ouro. Dizem que ela e Manica tem mais que uma relação
      de mestre e cria, mais que patrão e empregado. Suas festas vão do mais requintado ao mais obsceno e depravado.
      (season 3)
    </li>
  </ul>
</div>

<div class="card div-sup">
  <div class="card-header" (click)="tre=!tre">
    <img src="assets/img/clanlogos/tremere.png" class="float-left clan-list-style">
    <h3>Tremere</h3>
    <p>Feiticeiros</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!tre">
      <span class="npcs-nome">Lazaros, o Reitor</span> - Reitor da Universidade de Greenmond, Murdoc Wailer aka Lazaros.
      Entre seus afazeres na casa Tremere e sua fachada de reitor da maior universidade da cidade, Lazarus não demonstra
      muita preocupação com a política da cidadde, a não ser que isso vá de encontro a seus interesses, que são
      conhecimento do oculto e magia. Dono de grande intelecto, por vezes parece literalmente deixar o corpo e viajar
      por horas. Renomado conhecedor de rituais thaumatúrgicos, diz-se que ele pode ter até mesmo ter criado uma nova
      linha de thaumaturgia, além de algumas dezenas de rituais.
    </li>
    <li class="list-group-item" [hidden]="!tre">
      <span class="npcs-nome">Scarlet Moore aka Daleelah</span> - A anciã Tremere, ao contrário de seu pupilo (Lazaros),
      tem uma sede de poder tão grande quanto seu conhecimento do oculto. Sua grande frustração é ver a falta de ambição
      política de Lazaros, seu braço direito e cria se recusa a ver o poder político na sociedade vampírica como algo de
      valor.
    </li>
  </ul>
</div>

<div class="card div-sup">
  <div class="card-header" (click)="ven=!ven">
    <img src="assets/img/clanlogos/ventrue.png" class="float-left clan-list-style">
    <h3>Ventrue</h3>
    <p>Sangue Azul</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!ven">
      <span class="npcs-nome">Frank Baker</span> - O primogênito Ventrue tem sido fazendeiro desde sempre. Sua família
      estava entre os primeiros colonos a chegar na América no séc XVII. Os primeiros ingleses fixaram colônia na
      Virgínia, em 1607. Peregrinos e puritanos se estabeleceram em Massachusetts nos anos seguintes. A partir de então,
      milhares de protestantes se deslocaram para ali, dando origem à região conhecida como Nova Inglaterra, o embrião
      para a formação das Treze Colônias e, em consequência, dos Estados Unidos da América. O que faz com que a história
      de sua família se misture a história do próprio EUA. De volta aos tempos atuais, ele mantém suas fazendas
      produtivas, e ainda tem colocado certo investimento no novo ramo de tecnologia. Afinal não se pode colocar todas
      as fichas em um só cavalo.
    </li>
    <li class="list-group-item" [hidden]="!ven">
      <span class="npcs-nome">Donavan Kiefer</span> - Descendente de alemãs e tido como gênio em tecnologia, é o braço
      de Baker em sua empresa, a Baker Tech. Kiefer transformou um punhado de PCs e impressoras em um centro de
      tecnologia que supera alguns dos mais importantes dos EUA. Destaque para sua tecnologia de segurança de dados,
      cujo serviço tem sido usado por empresas como IBM e Microsoft. Os membros também tem confiado a Kiefer seus dados
      mais importantes, com a promessa de que só os próprios donos tem como ter acesso a suas informações. Será? O fato
      é que o sucesso de Kiefer não se deve apenas a ajuda de Baker, que o considera o seu Golden Boy, mas a seu próprio
      talento. (Season 6)
    </li>
    <li class="list-group-item" [hidden]="!ven">
      <span class="npcs-nome">Norman Brown</span> - O atual Xerife é uma demonstração de que os Ventrue ainda tem muito
      poder e influência na cidade. Seus passos são acompanhados de perto por Baker. Se Kiefer é a mente, Norman são os
      “músculos”. Ele é quem suja as mãos, que faz o trabalho sujo, são os olhos dos Ventrue nos becos escuros da
      cidade. Unindo Kiefer e Brown, Baker tem total conhecimento do que se passa em Greenmond e pode analisar seus
      próximos passos, com precisão cirgúrgica. (Season 3)
    </li>
  </ul>
</div>

<div class="card div-sup">
  <div class="card-header" (click)="cai=!cai">
    <img src="assets/img/clanlogos/caitiff.png" class="float-left clan-list-style">
    <h3>Caitiff</h3>
    <p>Lixos</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [hidden]="!cai">
      <span class="npcs-nome">John Doe</span> - Não é de hoje que a regra dos abraços limitados desagrada a muitos. E os
      mais jovens e inconsequentes desafiam a autoridade do Príncipe e arriscam suas existências ao criar progênies não
      autorizadas. Muitos tiveram suas mortes verdadeiras ao cometer tal erro, normalmente por cassadas de sangue contra
      senhor e progênie. <br />
      John Doe é o caso mais bem sucedido de todos. Mantendo-se ainda vivo, e melhor, prosperando,
      ele já esteve várias vezes no mesmo lugar em que Lucius estava, e o Príncipe parece tolerar sua presença e fazer
      vista grossa para essa insubordinação. John mantém-se na linha para não despertar ainda mais ódio por sua
      presença. E também a base de troca de muitos
      favores.
    </li>
  </ul>
</div>