<div class="card">
  <div class="card-header font-weight-bold">
    City Lore
  </div>
  <div class="card-body">
    <p>O nível 2 de city lore permite aos personagens saberem que histórias antigas ainda refletem em conflitos e
      mágoas no presente. Sabem que os ventrue, que dominavam fazendas escravagistas no passado, e que viram o seu
      príncipe ser retirado do poder com o fim da guerra, não aceitam a presença desse príncipe que lhes foi
      imposto.</p>

    <p>Sabem que o próprio Justicar Brujah veio garantir a “troca” de príncipe.</p>

    <p>Tem noção de onde é seguro ir e onde não é. Mais ou menos como um morador do RJ sabe q não pode ir em
      determinadas regiões e tal.</p>

    <p>Sabem que os abraços são liberados de tempos em tempos, e para poucos. Então tem-se o costume de nomear essas
      "temporadas de abraço". A última temporada foi a chamada “season 8”, e aconteceu há quase 70 anos.
      Acredita-se que por causa da “mortandade” de mortais devido a gripe de 1918, não tenha aberto ainda uma
      temporada de abraços.

      Os personagens são “season 4”, por isso gozam de algum status (1 ponto de status)
    </p>
  </div>
</div>

<div class="card div-sup">
  <div class="card-header font-weight-bold">
    Construção de personagens
  </div>
  <div class="card-body">
    <p><span class="font-italic font-weight-bold">Pontuação Ancilla</span><br>
      Atributos: 8/6/4<br>
      Habilidades: 15/11/6 (habilidades secundárias tem o custo reduzido à metade, ou seja, um ponto compra duas bolinhas)<br>
      Vantagens:<br>
      Disciplinas: 7<br>
      Virtudes: 7<br>
      Antecedentes: 10<br>
      Humanidade: Consciência + Autocontrole<br>
      Força de Vontade: Coragem<br>
      Qualidades e Defeitos: máximo 7 pontos para defeitos, qualidade 8 pontos no máximo. Qualidades e defeitos devem ser aprovadas por mim <br>
      Pontos de bônus: 55<br>
      Idade: entre 150 e 200 anos<br>
      Geração inicial: 13ª, podendo baixar até 8ª com o antecedente geração</p>    
  </div>
</div>